<div class="navbar">
  <div class="navbar__brand">
    <button class="toggle-button">
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
    </button>
    <a routerLink="/"
       class="navbar__brand">
      <i class="material-icons">home</i>
    </a>
  </div>
  <div>
    <ul class="navbar__items">
      <li class="navbar__item" *ngIf="isAuthenticated">
        <a routerLink="accounts">
          Accounts
        </a>
      </li>
      <li class="navbar__item" *ngIf="isAuthenticated">
        {{ username }}
      </li>
      <li class="navbar__item" *ngIf="isAuthenticated">
        <a class="nav-link"
           style="cursor: pointer"
           (click)="onLogout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
