<form #authForm="ngForm"
      class="signin"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading">
  <div class="signin__title">
    <h1>Please sign in</h1>
  </div>
  <div class="signin__login">
    <input type="text"
           id="username"
           class="form-control"
           ngModel
           name="username"
           autocomplete="off"
           required
           placeholder="Login" />
  </div>
  <div class="signin__password">
    <input type="password"
           id="password"
           class="form-control"
           ngModel
           name="password"
           required
           minlength="6"
           placeholder="Password" />
  </div>
  <div class="signin__submit">
    <button type="submit"
            [disabled]="!authForm.valid">
      Login
    </button>
  </div>
</form>
