<div class="main__header">
  <h2>
    Les comptes bancaires
  </h2>
  <button class="btn btn-info"
          id="account_add">Ajouter</button>
</div>

<div class="main__content">
  <p *ngIf="editing.edit">edit mode</p>
  <table class="main__account-datatable">
    <thead>
      <tr>
        <th>Nom</th>
        <th>IBAN / BIC</th>
        <th>Solde</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts; let i = index" class="k-alt">
        <td (dblclick)="editOne(i, account.id, 'name')">
          <p *ngIf="editing.edit && editing.index == i && editing.property == 'name'"
             (keyup.esc)="cancel()"
             autofocus>
            <input type="text"
                   name="name"
                   id="name"
                   value="{{ account.name }}"
                   (keyup.enter)="onSave($event, i)">
          </p>
          <p *ngIf="!editing.edit || editing.index != i">
            {{ account.name }}
          </p>
        </td>
        <td>
          {{ account.iban}}
          <br>
          {{ account.bic }}
        </td>
        <td class="currency">
          {{ account.balance }} €
        </td>
        <td>
          <a href="#">
            <i class="material-icons">
              <small>edit</small>
            </i>
          </a>
          <a href="#">
            <i class="material-icons">
              <small>delete_forever</small>
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
