{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center mt-3">Add transaction</h1>
    {{ form.as_p }}
    <table id="table"
           class="table table-hover table-striped table-responsive table-sm">
        <thead>
            <tr class="d-flex">
                <th class="col-1">Id</th>
                <th class="col-9">Name</th>
                <th class="col-2">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex">
                <td class="col-1">1</td>
                <td class="col-9">First</td>
                <td class="col-2">100</td>
            </tr>
            <tr class="d-flex">
                <td class="col-1">2</td>
                <td class="col-9">Second</td>
                <td class="col-2">200</td>
            </tr>
            <tr class="d-flex">
                <td class="col-1">3</td>
                <td class="col-9">Third</td>
                <td class="col-2">300</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
{% block extrafooterjs %}
    <script>
    let table = new DataTable("#table", {
        order: [[0, "asc"]],
        pageLength: 20,
        lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'All']
        ]
    })
    </script>
{% endblock extrafooterjs %}
