.account {
  background: #333;
  padding: 2px;
}

.account__title {
  background:#292b2c;
  padding: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.account__title a {
  color: #333;
}

.account__balance {
  color:#f0f0f0;
  text-align: right;
  padding: 0 10px;
}
